.courses__main__wrapper {
	background-color: rgb(232, 237, 232);
	color: white;
	height: fit-content;
	padding: 2rem;
	width: 100%;
	width: fit-content;
}

.courses-page {
	padding: 20px;
	width: 96.5%;
	height: 100vh;
	margin-top: 3rem;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

.category-bar {
	display: flex;
	width: 100%;
	border: 2px solid black;
	justify-content: center;
	margin-bottom: 20px;
}

.category {
	padding: 10px;
	margin: 0 10px;
	color: black;
	font-size: 20px;
	font-family: var(--font);
	cursor: pointer;
}

.category.active {
	background-color: var(--color-primary);
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

.day__list {
	display: flex;
	margin-top: 10px;
	flex-direction: row;
	gap: 10px;
}

.course-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
}

.course-item {
	border: 1px solid #ccc;
	padding: 10px;
	background-color: whitesmoke;
	text-align: center;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 2px;
}

.course-item img {
	width: 100%;
	max-height: 200px;
	object-fit: cover;
	margin: 0 auto;
	margin-bottom: 10px;
}

.course-item .course__image {
	width: 100%;
	height: 200px;
	background-color: var(--color-primary);
}

.course-description {
	margin-bottom: 10px;
}

button {
	color: black;
	border: none;
	background-color: var(--color-primary);
	padding: 16px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
}

.enrollment-confirmation {
	background-color: #4caf50;
	color: black;
	padding: 10px;
	text-align: center;
	margin-top: 20px;
	font-size: 3rem;
}

.div {
	background-color: red;
}

.enrollment-popup, .confirm-deenroll {
	position: fixed;
	bottom: 20px;
	transform: translateX(-50%);
	background-color: #fff;
	padding: 10px 20px;
	color: var(--color-primary);
	font: var(--font);
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	z-index: 999;
}

.button-group, .confirm {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.course__detail {
	background-color: whitesmoke;
	margin-left: 2rem;
	padding: 1rem;
	margin-top: 2rem;
}