.dashboard {
	background-color: rgb(232, 237, 232);
	color: white;
	height: fit-content;
	padding: 2rem;
	margin-top: 3rem;
	margin-left: 1rem;
	width: fit-content;
}

.chart__main__wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 60px;
	flex-wrap: wrap;
	margin-top: 1rem;
}

.chart__2__wrapper {
	display: flex;
	flex-direction: row;
	gap: 10px;
	flex-wrap: wrap;
}

.chart__1__wrapper {
	background-color: whitesmoke;
	padding: 0.4rem;
	border-radius: 5px;
	box-shadow: var(--shadow);
	height: fit-content;
}

.chart__1__wrapper h2 {
	color: black;
	font-size: 30px;
	font-family: var(--font);
}

.chart__score__wrapper {
	background-color: whitesmoke;
	padding: 0.4rem;
	border-radius: 5px;
	height: 300px;
	overflow-y: auto;
}

.round__chart {
	background-color: whitesmoke;
	border-radius: 5px;
	color: black;
	padding: 0.4rem;
	width: fit-content;
	height: fit-content;
}

.score__detail {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0;
}

.score__detail h5 {
	color: black;
	font-size: 15px;
	font-family: var(--font);
}

.score__detail h6 {
	color: black;
	font-family: var(--font);
	font-size: 15px;
}

.projects__main__wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
	border-radius: 3px solid black;
	margin-top: 1rem;
	flex-wrap: wrap;
	border: 2px solid black;
}

.image__project__wrapper {
	width: 100%;
	height: 300px;
	margin-bottom: 1rem;
	background-color: var(--color-primary);
}

.projects__main__wrapper .left__project__wrapper {
	background-color: whitesmoke;
	padding: 0.4rem;
	border-radius: 5px;
	width: 400px;
	height: 500px;
	color: black;
	height: fit-content;
}

.projects__main__wrapper .right__project__wrapper {
	background-color: whitesmoke;
	padding: 0.4rem;
	width: 400px;
	border-radius: 5px;
	height: 500px;
	color: black;
	height: fit-content;
}

.projects__small__title {
	justify-content: center;
	font-size: 50px;
	font-family: var(--font);
	color: black;
	margin-top: 1rem;
	margin-bottom: 1rem;
}